{% extends 'dashboard.html' %}

{% load crispy_forms_tags %}

{% block dashboard_content %}
    <div class="row">
        <div class="col-md-6">
            {% crispy add_exam_type_form %}
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-md-8">
            <table class="table-bordered table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th colspan="2">Exam Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exam_type in exam_types %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ exam_type.name.capitalize }}</td>
                            <td><a href="{% url 'settings_module:delete_exam_type' exam_type.id %}">Delete</a></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No exam types found. Use the form above to add some.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock dashboard_content %}