{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block style %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

    {% block dashboard_style %}
    {% endblock dashboard_style %}
{% endblock style %}

{% block content %}
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">High School</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="{% url 'accounts:logout' %}">Sign out</a>
      </li>
    </ul>
  </nav>
  
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'accounts:dashboard' %}">
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'exam_module:home' %}">
                <span data-feather="file"></span>
                Exams
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:students_home' %}">
                <span data-feather="users"></span>
                Students
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:list_staff' %}">
                <span data-feather="users"></span>
                Staff Members
              </a>
            </li>
          </ul>
  
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Reports</span>
            <a class="d-flex align-items-center text-muted" href="#" aria-label="View reports">
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Overall
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Form 4
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Form 3
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Form 2
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Form 1
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            
        {% block dashboard_content %}
        <!-- Deck one-->
        <div class="card-deck mt-3 mb-3 text-center">
          <!-- Card 1 -->
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Exams</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">Per Class</h2>
              <p class=" mt-3 mb-4 p-3">
                Use this link to Add/Update exam details of one Class/Form at a time.
              </p>
              <a href="{% url 'exam_module:create_many_exams' %}" role="button" class="btn btn-lg btn-block btn-outline-primary">Edit</a>
            </div>
          </div>

          <!-- Card 2-->
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Exams</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">Per Student</h2>
              <p class=" mt-3 mb-4 p-3">
                Use this link to Add/Update exam details of one student at a time.
              </p>
              <a role="button" href="{% url 'exam_module:create_one_exam' %}" class="btn btn-lg btn-block btn-outline-primary">Edit</a>
            </div>
          </div>

          <!-- Card 3-->
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Students</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">Register</h2>
              <p class=" mt-3 mb-4 p-3">
                Use this link to Add New/Update Existing student details.
              </p>
              <a href="{% url 'accounts:register_student' %}" role="button" class="btn btn-lg btn-block btn-outline-primary">Register</a>
            </div>
          </div>
        </div>

        <!-- Deck two -->
        <div class="card-deck mt-3 mb-3 text-center">
          <!-- Card 1 -->
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Staff Members</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">Register</h2>
              <p class=" mt-3 mb-4 p-3">
                Use this link to Add New/Update Existing staff details.
              </p>
              <a href="{% url 'accounts:register_staff' %}" role="button" class="btn btn-lg btn-block btn-outline-primary">Register</a>
            </div>
          </div>

          <!-- Card 2 -->
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Reports</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">Exam Reports</h2>
              <p class=" mt-3 mb-4 p-3">
                Use this link to View various exam reports.
              </p>
              <button type="button" class="btn btn-lg btn-block btn-outline-primary">View</button>
            </div>
          </div>

          <!-- Card 3 -->
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Finance</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title text-muted">Transactions</h2>
              <p class=" mt-3 mb-4 p-3">
                Use this link to Add/Update student finance details.
              </p>
              <button type="button" class="btn btn-lg btn-block btn-outline-primary" disabled>Coming Soon</button>
            </div>
          </div>
        </div>
        {% endblock dashboard_content %}
        
      </main>
    </div>
  </div>
{% endblock content %}

{% block script %}
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock script %}