{% extends 'dashboard.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block dashboard_style %}
    <link rel="stylesheet" href="{% static 'exam_module/css/style.css' %}">
{% endblock dashboard_style %}

{% block dashboard_content %}
    <div class="row">
        <div class="col-md-10 m-3">
            {% crispy create_many_exams_filter_form %}
        </div>
    </div>

    <div class="row">
        <div class="col m-3">
            {% if students_exams_entry_form %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-2">
                  <li class="breadcrumb-item active" aria-current="page">
                      {{ students_exams_entry_form.fields.data }}
                      {{ students_exams_entry_form.exam_type_name.value }}
                      exam of term 
                      {{ students_exams_entry_form.term_name.value }}
                      for the year
                      {{ students_exams_entry_form.date_done.value | slice:':4' }}
                      <em>(Use the filter tags above to change your selection*)</em>
                  </li>
                </ol>
            </nav>
            {% endif %}
            
            <!-- Errors/ Success -->
            {% include '_messages.html' %}

            <div class="table-responsive">
            <table class="table table-striped table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Registration Number</th>
                        <th>Name</th>
                        <th>Marks</th>
                    </tr>
                </thead>
                <tbody>
                    {% if students_exams_entry_form %}
                        {% crispy students_exams_entry_form %}
                    {% else %}
                        <tr>
                            <td class="text-muted" colspan="3"><em>Use appropriate filters to generate students.</em></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            </div>
            
        </div>
    </div>
{% endblock dashboard_content %}